- provide(:title, t('shared.kinds'))

.row
  .col-md-12
    %ul.kinds= render @kinds

.row
  .col-md-12
    %hr

.row
  .col-md-12
    = simple_form_for @kind do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true, autofocus: true
        = f.button :submit, class: 'btn btn-success'

