- provide :title, t('shared.work_times')
- prc = current_user.percentage_realization
.row
  .col-md-10.col-md-offset-1
    .progress
      -if current_user.limit?
        .progress-bar{style: "width: #{prc}", class: progress_bar_class}
          = prc
      -else
        .progress-bar.progress-bar-warning{style: 'width: 100%'}
          =link_to 'Ustaw swój limit(cel) miesięczny!', edit_user_path(current_user)
.row
  .col-md-12
    %table.table.table-striped.rcp
      %thead
        %tr.info
          =simple_form_for @work_time do |f|
            .form-inputs
              %td= f.input :date, as: :string,
                        input_html: { class: "date", value: Date.today }, label: false
              %td= f.association :project, collection: current_user.projects,
                        input_html: { class: "select2", placeholder: :project }, label: false
              %td= f.association :kind, input_html: { class: "select2", placeholder: :kind }, label: false
              %td= f.input :time, input_html: { placeholder: :time }, label: false
              %td= f.input :comment, input_html: { placeholder: :comment }, label: false
              %td.center= f.button :submit, '+', class: 'btn btn-success'
      %tbody
        -@work_times.each do |w|
          %tr
            %td= w.date
            %td
              %span
              = w.project
            %td
              %span.color{:style => "background-color:#{w.kind.color};"}
              = w.kind
            %td= w.time
            %td= w.comment
            %td
              = link_to_edit edit_work_time_path(w), remote: true
              = link_to_destroy work_time_path(w)
      %tfoot
        %th
        %th
        %th
        %th.center= @work_times.sum_time
        %th
        %th
        %th
