- provide :title, 'Karta czasu pracy'
- prc = current_user.percentage_realization
.row
  .col-md-10.col-md-offset-1
    .progress
      -if current_user.limit?
        .progress-bar{style: "width: #{prc}", class: progress_bar_class}
          = prc
      -else
        .progress-bar.progress-bar-warning{style: 'width: 100%'}
          Ustaw swój limit(cel) miesięczny!
.row
  .col-md-12
    %table.table.table-striped.rcp
      %thead
        %tr.info
          %th projekt
          %th czynność
          %th forma
          %th czas
          %th data
          %th uwagi
          %th akcje
      %tbody
        %tr
          =simple_form_for @work_time do |f|
            %td= f.association :project, collection: current_user.projects, label_method: :short_name, input_html: { class: "select2 input-sm" }, label: false
            %td= f.input :action, collection: collect_work_time_activity, input_html: { class: "select2 input-sm" }, label: false
            %td= f.input :form, collection: collect_work_time_form, input_html: { class: "select2 input-sm" }, label: false
            %td= f.input :time, input_html: { class: "form-control input-sm" }, label: false
            %td= f.input :date, as: :string, input_html: { class: "form-control input-sm date", value: Date.today }, label: false
            %td= f.input :comment, input_html: { class: "form-control input-sm" }, label: false
            %td= f.button :submit, '+', class: 'btn btn-success'
        -@work_times.each do |w|
          %tr
            %td= w.project.andand.short_name
            %td= w.action
            %td= w.form
            %td= w.time
            %td= w.date
            %td= w.comment
            %td
              = link_to "edit", edit_work_time_path(w), class: "btn btn-mini", remote: true
      %tfoot
        %th
        %th
        %th
        %th= @work_times.sum_time
        %th
        %th
        %th