- provide :title, 'Administracja'
.row
  .col-md-6.col-md-offset-1
    %h3 Edycja słowników

    %table.table
      %thead
        %tr
          %th
            ID
          %th
            Typ
          %th
            Rodzic
          %th
            Symbol
          %th
            Akcje
      %tbody
        -@dictionaries.each do |d|
          %tr
            %td= d.id
            %td= d.kind
            %td= d.parent.andand.symbol
            %td= d.symbol
            %td
              = link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'),
                admin_path(d), method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'usun'