= simple_form_for @user do |f|
  .col-md-10.col-md-offset-1
    = f.error_notification
  .col-md-5.col-md-offset-1
    .form-inputs
      - if current_user.admin?
        = f.input :email, label: "email", required: true
      = f.input :firstname, label: "imie", required: true
      = f.input :lastname, label: "nazwisko", required: true
      = f.input :tel, label: "telefon", required: false
      = f.input :limit, label: "Limit godzin", required: false
      = f.association :projects, label_method: :short_name, input_html: { class: "select2" }, label: "Projekty", required: false
      - if current_user.admin?
        = f.input :roles, collection: User.valid_roles,
                  input_html: { multiple: true, value: @user.roles }, label: 'role', required: true
  .col-md-5
    = f.input :password, label: "hasło", required: false
    = f.input :password_confirmation, label: "potwierdzenie hasła", required: false
  .col-md-10.col-md-offset-1
    %hr/
    = f.button :submit, 'Zapisz', class: 'btn btn-success'
    = link_to 'Anuluj', users_path, class: 'btn btn-sm btn-default'

-#TODO
-#add to coffe
:javascript
  $( document ).ready(function(){
      $('#user_roles').val(#{raw(@user.roles.collect{|c| [c.to_s]})}).select2();
  })
