= simple_form_for @user do |f|
  .col-md-10.col-md-offset-1
    = f.error_notification
  .col-md-5.col-md-offset-1
    .form-inputs
      - if current_user.admin?
        = f.input :email, required: true
      = f.input :first_name, required: true
      = f.input :last_name, required: true
      = f.input :tel, required: false
      = f.input :limit, required: false
      = f.association :projects, label_method: :short_name, input_html: { class: "select2" }, required: false
      - if current_user.admin?
        = f.input :roles, collection: User.valid_roles, input_html: { multiple: true, value: @user.roles }, required: true
  .col-md-5
    .form-inputs
      = f.input :password, required: false
      = f.input :password_confirmation, required: false
  .col-md-10.col-md-offset-1
    %hr
    = f.button :submit, class: 'btn btn-success'
    = link_to t('cancel'), users_path, class: 'btn btn-sm btn-default'

-#TODO
-#add to coffe
:javascript
  $( document ).ready(function(){
      $('#user_roles').val(#{raw(@user.roles.collect{|c| [c.to_s]})}).select2();
  })
