= simple_form_for @user do |f|
  .col-md-5.col-md-offset-1
    - if current_user.admin?
      = f.input :email, input_html: { class: "form-control input-sm" }, label: "email"
    = f.input :firstname, input_html: { class: "form-control input-sm" }, label: "imie", required: true
    = f.input :lastname, input_html: { class: "form-control input-sm" }, label: "nazwisko", required: true
    = f.input :tel, input_html: { class: "form-control input-sm" }, label: "telefon", required: false
    = f.input :limit, input_html: { class: "form-control input-sm" }, label: "Limit godzin", required: false
    - if current_user.admin?
      = f.input :roles, collection: User.valid_roles, input_html: { class: 'input-sm', multiple: true, value: @user.roles }, label: 'role', required: true
  .col-md-5
    = f.input :password, input_html: { class: "form-control input-sm" }, label: "hasło", required: false
    = f.input :password_confirmation, input_html: { class: "form-control input-sm" }, label: "potwierdzenie hasła", required: false
  .col-md-10.col-md-offset-1
    %hr/
    = f.button :submit, 'Zapisz', class: 'btn btn-success'
    = link_to 'Anuluj', users_path, class: 'btn btn-sm btn-default'

-#TODO
-#add to coffe
:javascript
  $( document ).ready(function(){
      $('#user_roles').val(#{raw(@user.roles.collect{|c| [c.to_s]})}).select2();
  })
