.col-md-10.col-md-offset-1
  - if current_user.admin?
     #{link_to "+ dodaj użytkownika", new_user_path}
  %table.table.table-hover
    %thead
      %tr
        %th Email
        %th Imie i nazwisko
        %th Telefon
        %th Role
        %th Akcje
    %tbody
      - @users.each do |user|
        %tr
          %td
            = link_to user.email, user
          %td
            = user.full_name
          %td
            = user.tel
          %td
            -if can? :manage, User
              - user.roles.each do |role|
                = role.to_s
                ,
            -else
              \-
          %td
            -if can? :manage, user
              = link_to_edit edit_user_path(user)
              = link_to_destroy user
  = will_paginate @users
