!!!
%html
  %head
    %title
      MAP | #{yield(:title)}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/body_header'
    .container
      #main
        #box
          / tymczasowo do utworzenia formularza logowania
          - if signed_in?
            = render 'layouts/actions_menu'
          = yield
      = debug(params) if Rails.env.development?
    = render :partial => '/layouts/modal'

    = gflash :position => :bottom_left
